@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Main */
:root{
    --bs-red:#E53637;
    --bs-orange:#ef764c;
    --bs-c-sup:#00a2ff;
    --bs-white:#ffffff;
    --bs-heading:#fa009f;
    --bs-background:#1f0644;
    --padding-section:100px;
}
body{
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    background-color: var(--bs-background);
    color: var(--bs-white);
}
html{overflow-x: hidden;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
ul{list-style: none;}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.coi-lg-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.btn{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 35px;
    box-shadow: inset 0px 0px 8px 8px #fea036;
    color: var(--bs-white);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in;
}
.btn:hover{
    box-shadow: inset 0px 0px 10px 7px #00a2ff;
    color: var(--bs-white);
}
.heading{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}
/* ==========================================================*/
/* Start Top Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/* Start layout */
header .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(89deg, #54068f 0%, #7a1bb4 100%);
    opacity: 0.8;
}
/* End layout */
header .Top-Header .content{
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    border-bottom: 1px solid #774297;
    background-image: linear-gradient(-90deg, rgba(84, 6, 143, 0.5) 0%, rgba(122, 27, 180, 0.5) 100%);
    position: relative;
}
header .Top-Header .content::before{
    position: absolute;
    content: "";
    top: 0px;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 56px solid rgba(84, 6, 143, 0.5);
    border-right: 20px solid transparent;
}
.content .left-content .left-list{
    display: inline-block;
    position: relative;
    padding-right: 20px;
    margin-bottom: 0;
}
.left-list li p{
    color: var(--bs-c-sup);
    font-size: 16px;
}
.left-list li p i{
    color: #00a2ff;
    margin-right: 5px;
}
.left-list::after{
    position: absolute;
    content: "";
    right: 0px;
    height: 18px;
    width: 1px;
    top: 30%;
    transform: translateY(-50%);
    background: #6864b2;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.content .left-content .top-social-links{
    display: inline-block;
    padding-left: 25px;
}
.top-social-links li{
    display: inline-block;
    margin-right: 13px;
    color: var(--bs-c-sup);
    cursor: pointer;
}
.content .right-content .right-list > li{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    margin-bottom: 0;
    color: var(--bs-c-sup);
    cursor: pointer;
}
.right-list .bell::after{
    position: absolute;
    content: "";
    right: 0px;
    height: 18px;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: #6864b2;
}
header .Top-Header .content::after{
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 56px solid rgba(122, 27, 180, 0.5);
    border-left: 20px solid transparent;
}

/* Media of Top Header */
@media (max-width:480px){
    header .Top-Header .content{display: none;}
}
/* End Top Header */

/* Start Nav Bar */
.navbar{
    padding: 10px 0px;
    position: relative;
}
header::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: #54068f;
    box-shadow: 0px 0px 10px 2px #8938af86;
}
.navbar .navbar-brand img{width: 120px;}
.navbar-nav .nav-item .nav-link{
    color: var(--bs-white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 10px;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.navbar-nav .dropdown-menu{
    margin-top: 5px !important;
    background: #1f0644;
    border-radius: 0px;
    border: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.15);
    border-top: 4px solid var(--bs-heading);
    transition: all linear 0.3s;
}
.dropdown-menu .dropdown-item{
    line-height: 26px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 15px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all linear 0.3s;
    color: #a1aed4;
}
.dropdown-menu .dropdown-item:hover{background-color: var(--bs-red);}
.dropdown-menu .dropdown-item i{
    font-size: 12px;
    padding-right: 6px;
}
.navbar-nav .nav-item .nav-link:hover{color: var(--bs-red);}
.navbar-nav .nav-item .active{color: var(--bs-red);} 
/* -----------------------End Nav Bar --------------------- */

/* Start Hero Section */
.hero{
    background-image: url(images/h1.jpg);
    width: 100%;
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.hero::after{
    position: absolute;
    content: "";
    background-image: url(images/h2-shape.png);
    width: 100%;
    height: 50%;
    top: 10%;
    left: 15%;
}
.text{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.text h5{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bs-white);
    margin-bottom: -20px;
    text-shadow: 0px -3px 2px rgba(12, 19, 55, 0.004), 0 -1px 4px #1b7ae2, 0 -2px 10px #1b7ae2, 0 -10px 20px #1b7ae2, 0 -18px 40px #1b7ae2;
}
.video .vido-button {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #ef764c;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: #00a2ff 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    align-items: center;
    border: 0;
}
.button:is(:hover, :focus) {
    transform: scale(1.2);
}
@keyframes pulse {
    100% {
        box-shadow: 0 0 0 45px rgba(193,244,246,0);
    }
}

/* Media Of hero Section */
@media (max-width:480px) {
    .hero{
        background-image: url(images/h1.jpg);
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .text{
        position: absolute;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .text h5{
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--bs-white);
        margin-bottom: -8px;
        text-shadow: 0px -3px 2px rgba(12, 19, 55, 0.004), 0 -1px 4px #1b7ae2, 0 -2px 10px #1b7ae2, 0 -10px 20px #1b7ae2, 0 -18px 40px #1b7ae2;
    }
    .text h1 img{width: 350px;}
    .video{margin-top: 20px;}
    .video .btn{
        width: 160px;
        padding: 10px 30px;
    }
    .text .video .vido-button{margin-left: 8px;}
}
@media (min-width:481px) and (max-width:768px) {
    .hero{
        background-image: url(images/h1.jpg);
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .text{
        position: absolute;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .text h5{
        font-size: 35px;
        line-height: 60px;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--bs-white);
        margin-bottom: -20px;
        text-shadow: 0px -3px 2px rgba(12, 19, 55, 0.004), 0 -1px 4px #1b7ae2, 0 -2px 10px #1b7ae2, 0 -10px 20px #1b7ae2, 0 -18px 40px #1b7ae2;
    }
    .text h1 img{width: 450px;}
    .text .video .vido-button{margin-left: 8px;}
}
@media (min-width:769px) and (max-width:1024px) {.text h1 img{width: 750px;}}

/*-------------------------- End Header --------------------------*/
/* Start rewards Section */
.rewards{
    background-image: url(images/counter-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 40px;
    box-shadow: inset 0px 15px 15px -10px #00a2ff, inset 0px -15px 15px -10px #00a2ff;
}
.rewards .contant{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 15px;
}
.contant .box .image img{width: 100%;}
.box .info h4{
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    text-shadow: 0px 0px 20px #00a2ff;
    color: #00a2ff;
    margin-bottom: 8px;
}
.info h6{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 0px;
}
@media  (max-width:480px) {
    .rewards .contant{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        place-items: center;
        gap: 15px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .rewards .contant{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        place-items: center;
        gap: 15px;
    }
}
/*--------------------------- End rewards Section  -------------------------*/

/* Start PLAY AND WIN Section */
.Games{
    background-image: url(images/section-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 120px;
    position: relative;
}
.Games img{max-width: 100%;}
.Games .left{
    position: absolute;
    left: 0;
    bottom: 0;
}
.Games .right{
    position: absolute;
    right: 0;
    bottom: 0;
}
.Games .heading{
    margin-bottom: 50px;
    position: relative;
}
.heading h5{
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: var(--bs-heading);
    margin-bottom: 35px;
}
.heading h2{
    font-size: 60px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bs-white);
    text-shadow: 0px -3px 10px rgba(12, 19, 55, 0.7);
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 20px;
}
.heading h6{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: var(--bs-white);
    font-family: "Josefin Sans", sans-serif;
}
.Games .grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}
.Games .grid .card{
    padding: 40px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: inset 0px 0px 12px 7px #9a13d2;
    text-align: center;
    transition: all 0.3s ease-in;
    background-color: transparent;
}
.Games .grid .card:hover{
    transform: translateY(-5px);
    box-shadow: inset 0px 0px 12px 7px #fea036
}
.card .card-img img{width: 100%;}
.card .Detils{margin-top: 35px;}
.card .Detils .btn{padding: 12px 40px;}
.Detils h4{
    font-size: 14px;
    margin: 25px 0 20px 0;
    color: var(--bs-white);
}
.Detils li img{
    width: 30px;
    height: 30px;
    border: 1px solid #364374;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.Detils li span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    box-shadow: inset 0px 0px 7px 3px #9a13d2;
    background: #300983;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    font-size: 10px;
    color: var(--bs-white);
}
.Detils ul{
    margin: 0;
    padding: 0;
}
.Detils li:first-child{
    margin-left: 0px;
    display: inline-block;
}
.Detils li{
    margin-left: -10px;
    display: inline-block;
}
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.3s ease-in;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.cta:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0px 0px 8px 8px #fea036;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--bs-white);
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--bs-white);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    box-shadow: inset 0px 0px 10px 7px #00a2ff;
}
.cta:hover svg {transform: translateX(0);}
.cta:active {transform: scale(0.95);}

/* Media of Games */
@media  (max-width:480px){
    .Games .left,
    .Games .right{display: none;}
    .heading h5{margin-bottom: 15px;}
    .heading h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .Games .grid{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 10px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .Games .left,
    .Games .right{display: none;}
    .heading h5{margin-bottom: 15px;}
    .heading h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .Games .grid{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 10px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .Games .left,
    .Games .right{display: none;}
    .heading h5{margin-bottom: 15px;}
    .heading h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .Games .grid{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
}
@media (min-width:1025px) and (max-width:1200px) {
    .Games .grid{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        gap: 10px;
    }
}
/*----------------------- End PLAY AND WIN Section ---------------------*/

/* Start TOP PLAYERS Section */
.Top-Players{
    background: var(--bs-background);
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.Top-Players .sides{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;
}
.sides .left .top-content .info h5,
.sides .right .top-content .info h5
{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #fa009f;
    margin-bottom: 13px;
}
.left .top-content .info h2,
.right .top-content .info h2
{
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px -3px 10px rgba(12, 19, 55, 0.7);
}
.bottom-content .left-box,
.bottom-content .Right-box{
    padding: 30px;
    background-color: #24074f;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.left-box .left-content .L-content img,
.Right-box .Right-content .L-content img
{height: 70px;}
.left-box .left-content,
.Right-box .Right-content{
    border-top: 4px solid #211863;
    border-bottom: 4px solid #211863;
    padding: 20px;
}
.left-content .R-content h6,
.Right-content .R-content h6{color: #fcc310;}

/* Media of Top-Players Section*/
@media  (max-width:480px){
    .Top-Players .sides{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 50px;
    }
    .bottom-content .Right-box .Right-content{display: block;}
    .Right-box .Right-content .L-content,
    .left-box .left-content .L-content{margin-bottom: 6px;}
}
@media (min-width:481px) and (max-width:768px) {
    .Top-Players .sides{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 50px;
    }
    .bottom-content .Right-box .Right-content{display: block;}
    .Right-box .Right-content .L-content,
    .left-box .left-content .L-content{margin-bottom: 6px;}
}
@media (min-width:769px) and (max-width:1024px) {
    .Top-Players .sides{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 50px;
    }
    .bottom-content .Right-box .Right-content{display: block;}
    .Right-box .Right-content .L-content,
    .left-box .left-content .L-content{margin-bottom: 6px;}
}
@media (min-width:1025px) and (max-width:1200px) {
    Top-Players .sides{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 50px;
    }
}
/*--------------------------------- End TOP PLAYERS Section -----------------------------*/

/* Start Wins Section */
.Wins{
    background-image: url(images/joinus-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    background-color: var(--bs-background);
}
.Wins .content{
    display: flex;
    align-items: center;
}
.Wins-text h5{
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: var(--bs-heading);
    margin-bottom: 13px;
}
.Wins-text h2{
    font-size: 50px;
    line-height: 50px;
    font-weight:700;
    color: var(--bs-white);
    margin-bottom: 7px;
    text-shadow: 0px -3px 10px rgba(12, 19, 55, 0.7);
}
.Wins-text p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--bs-white);
    font-family: "Josefin Sans", sans-serif;
}

/* Media of Wins Section */
@media  (max-width:480px){
    .Wins .content{display: block;}
    .Wins  .content img{
        width: 100%;
        margin-bottom: 40px;
    }
        .Wins-text h2{font-size: 40px;}
}
@media (min-width:481px) and (max-width:768px) {
    .Wins .content{display: block;}
    .Wins  .content img{
        width: 100%;
        margin-bottom: 40px;
    }
    .Wins-text h2{font-size: 40px;}
}
@media (min-width:769px) and (max-width:1024px) {
    .Wins .content{display: block;}
    .Wins  .content img{
        width: 100%;
        margin-bottom: 40px;
    }
    .Wins-text h2{font-size: 40px;}
}
/*--------------------------- End Wins Section -------------------------*/

/* Start HOW TO PLAY Section */
.H-T-P{
    background-color: var(--bs-background);
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.H-T-P .heading h5{font-size: 30px;}
.H-T-P .grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    place-items: center;
    margin-bottom: 50px;
}
.grid .item h5{
    font-size: 24px;
    text-align: center;
} 
.H-T-P .btn{
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
 /*Subscribe box */
    .Subscribe-box{
    background: url(images/newsletter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 53px 30px 60px;
    box-shadow: inset 0px 0px 10px 7px #00a2ff;
    border-radius: 30px;
    position: relative;
    bottom: -180px;
    z-index: 9;
    overflow: hidden;
    }
    .Subscribe-box .left{
        position: absolute;
        left: 0px;
        top: 70px;
    }
    .Subscribe-box .right{
        position: absolute;
        right: 0px;
        top: 50px;
    }
    .Subscribe-box .heading {text-align: center;}
    .Subscribe-box .heading .sub-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        margin-bottom: 10px;
        color: #fa009f;
    }
    .Subscribe-box .heading .title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .Subscribe-box .form-area {
        width: 100%;
        position: relative;
    }
    .Subscribe-box .form-area input{
        width: 100%;
        height: 60px;
        background: none;
        border: 0px;
        border-radius: 50px;
        box-shadow: inset 0px 0px 10px 7px #bf1995;
        border: 2px solid #e78c35;
        padding: 0px 160px 0px 30px;
        font-size: 18px;
        color: #fff;
    }
    .Subscribe-box .form-area .mybtn1{
        margin-top: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 60px;
        line-height: 60px;
        padding-top: 0px;
        padding-bottom: 0px;
        background: none;
        border: 0px;
        background: #53196a;
    }
    .mybtn1{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        color: white;
        padding: 12px 35px;
        border-radius: 50px;
        box-shadow: inset 0px 0px 10px 7px #fea036;
        transition: all 0.3s ease-in;
        display: inline-block;
    }
    .mybtn1:hover{
        box-shadow: inset 0px 0px 10px 7px #00a2ff;
        color: var(--bs-white);
    }

    /* Media of H-T-P */
@media (max-width:480px){
    .H-T-P .grid{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        place-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }
    .grid .item h5{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
    }
    .Subscribe-text h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .Subscribe-box .left,
    .Subscribe-box .right
    {display: none;}
    .H-T-P .btn{
        padding: 10px 20px;
        font-size: 16px;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .H-T-P .grid{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        place-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }
    .grid .item h5{
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
    }
    .Subscribe-text h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .Subscribe-box .left,
    .Subscribe-box .right
    {display: none;}
}
@media (min-width:769px) and (max-width:1024px) {
    .H-T-P .grid{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        place-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }
}
/* Media of Subscribe-box */
@media (max-width:480px){
    .Subscribe-box .heading .title{
        font-size: 28px;
        line-height: 38px;
    }
    .Subscribe-box .form-area input {padding: 0px 30px 0px 30px;}
    .Subscribe-box .form-area .mybtn1{
        position: unset;
        width: 100%;
        margin-top: 20px;
    }
    .Subscribe-box .form-area{margin-top: -10px;}
}
@media (min-width:481px) and (max-width:768px){
    .Subscribe-box .heading .title{
        font-size: 28px;
        line-height: 38px;
    }
    .Subscribe-box .form-area input {padding: 0px 30px 0px 30px;}
    .Subscribe-box .form-area .mybtn1{
        position: unset;
        width: 100%;
        margin-top: 20px;
    }
    .Subscribe-box .form-area{margin-top: -10px;}
}
@media (min-width:769px) and (max-width:1024px){
    .Subscribe-box .left,
    .Subscribe-box .right{
        display: none;
    }
}
/*------------------------ End HOW TO PLAY Section ----------------------*/

/* Start Footer Section */
.footer{
    padding-top: 240px;
    overflow: hidden;
    position: relative;
    background-color: #070b28;
    background-image: url(images/footerbg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.footer .logo{
    text-align: center;
    display: block;
}
.footer .Social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.Social-links .btn-social{
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: 1px solid var(--bs-white);
    cursor: pointer;
    transition: all 0.3;
    -webkit-transition: all 0.3;
    -moz-transition: all 0.3;
    -ms-transition: all 0.3;
    -o-transition: all 0.3;
    display: grid;
    place-items: center;
}
.btn-social:hover{
    outline-offset: 4px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.btn-social i{
    color: var(--bs-white);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-size: 20px;
}
.btn-social i:hover{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
.btn-social:hover:nth-child(1){
    background-color: #4267B2;
    color: var(--bs-white);
}
.btn-social:hover:nth-child(2){
    background: radial-gradient(
        circle at 30% 107%, #fdf497 0%,
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%, #285aeb 90%
    );
    color: var(--bs-white);
}
.btn-social:hover:nth-child(3){
    background-color:#1DA1F2 ;
    color: var(--bs-white);
}
.btn-social:hover:nth-child(4){
    background-color:#FF0000 ;
    color: var(--bs-white);
} 
.btn-social:hover:nth-child(5){
    background-color:#E60023;
    color: var(--bs-white);
} 
.footer-menu{
    margin-top: 115px;
    display: block;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-menu ul li{
    display: inline-block;
    margin-right: 70px;
    position: relative;
}
.footer-menu ul li a{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #d2d5fc;
    text-transform: capitalize;
}
.footer-menu ul li:not(:last-child)::after{
    position: absolute;
    content: "";
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 2px;
    background: #686fc5;
}
.footer .copy{
    padding: 22px 15px 10px;
    text-align: center;
}
.footer .copy p {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    color: #d2d5fc;
    font-weight: 600;
}
.footer .copy p span{
    color: var(--bs-background);
}
@media (max-width:480px){
    .footer-menu ul li{
        display: inline-block;
        margin-right: 10px;
        padding: 10px ; 
    }
    .footer-menu ul li::after{display: none;}
}
@media (min-width:481px) and (max-width:768px){
    .footer-menu ul li{
        display: inline-block;
        margin-right: 10px;
        padding: 10px ; 
    }
    .footer-menu ul li::after{display: none;}
}

/*====================== End Footer Section ===================== */


/*========================= JS Modals ======================*/

/* bottom btn */
#btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    border: none;
    transform: rotate(-90deg);
    bottom: 30px;
    right: 15px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    background: #fa009f;
    display: none;
}


/* Join Us Modal */

.dialog-window{
    border-radius: 10px;
    background: rgba(93, 33, 212, 0.8);
    box-shadow: inset 0px 0px 12px 8px #00a2ff;
    border: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    width: auto;
    margin: auto;
    display: none;
    z-index: 10000;
    transition: opacity 300ms, visibility 200ms, top 600ms ;
}
.overlay-box{
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 9999;
}
.dialog-window .close{
    position: absolute;
    top: 8px;
    right: 15px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 18px;
}
.modal-body{margin: 50px;}
.modal-body .btns-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.btns-nav .nav-btn a,
.form-group .mybtn2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 25px;
    box-shadow: inset 0px 0px 8px 8px #fea036;
    color: var(--bs-white);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in;
    background: transparent;
    border: none;
}
.nav-btn a:hover,
.form-group .mybtn2:hover{
    box-shadow: inset 0px 0px 10px 7px #00a2ff;
    color: var(--bs-white);
}
.body-content{
    text-align: center;
    margin-top: 30px;
}
.body-content .heading h4{
    padding: 0 50px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.form-area{
    margin-top: 30px;
    width: 100%;
}
.form-area .form-group{
    margin-bottom: 10px;
}
.form-group .input-filed{
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: var(--bs-white);
    background: none;
    border: 1px solid var(--bs-c-sup);
    font-size: 16px;
    margin-bottom: 10px;
}
.form-group span{
    color: #e2ebff;
    font-size: 16px;
}
.form-group a{color: var(--bs-heading);}

